In [17]:
import pandas as pd
import numpy as np
from datetime import timedelta
from logging import StreamHandler, DEBUG, Formatter, FileHandler, getLogger

import sklearn.metrics as skl_metrics
import xgboost as xgb
from sklearn.cross_validation import train_test_split

import math

logger = getLogger(__name__)
pd.options.mode.chained_assignment = None  # default='warn'

DIR = '../result_tmp/'

log_fmt = Formatter('%(asctime)s %(name)s %(lineno)d [%(levelname)s][%(funcName)s] %(message)s ')
handler = StreamHandler()
handler.setLevel('INFO')
handler.setFormatter(log_fmt)
logger.addHandler(handler)

handler = FileHandler(DIR + 'train.py.log', 'a')
handler.setLevel(DEBUG)
handler.setFormatter(log_fmt)
logger.setLevel(DEBUG)
logger.addHandler(handler)

logger.info('start')

def create_feature_map(features):
    outfile = open('xgb.fmap', 'w')
    for i, feat in enumerate(features):
        outfile.write('{0}\t{1}\tq\n'.format(i, feat))
    outfile.close()

def NWRMSLE(y, pred, weights=None):
    err2 = skl_metrics.mean_squared_log_error(y, pred, sample_weight=weights)
    return math.sqrt(err2)

def NWRMSLE_A(y, pred, weights):
    y = np.array(y)
    pred = np.array(pred)
    weights = np.array(weights)
    weighted_errors = np.dot(np.square(np.log1p(pred) - np.log1p(y)), np.transpose(weights))
    weights_sum = np.sum(weights)
    return math.sqrt(weighted_errors/weights_sum)

def NWRMSLE_lgb(pred, dtrain):
    y = list(dtrain.get_label())
    score = NWRMSLE(y, pred)
    return 'NWRMSLE', score, False

def eval_test(test_e):

    test_e['weights'] = 1
    test_e.loc[(test_e.perishable == 1), ('weights')] = 1.25

    result = NWRMSLE(test_e.unit_sales.astype(np.float64),test_e.pred_sales.astype(np.float64), test_e.weights)

    print("Eval All, Number of rows in test is", test_e.shape[0])
    print("Eval all, Forecast Period From:", min(test_e.date)," To: ", max(test_e.date))

    #### check result on first 6 days.
    test_p1 = test_e.loc[(test_e.date < '2017-08-01'), ]
    result_p1 = NWRMSLE_A(test_p1.unit_sales.astype(np.float32),test_p1.pred_sales.astype(np.float32), test_p1.weights)

    print("Eval P1, Number of rows in test is", test_p1.shape[0])
    print("Eval P1, Forecast Period From:", min(test_p1.date)," To: ", max(test_p1.date))

    #### check result on last 10 days.
    test_p2 = test_e.loc[(test_e.date >= '2017-08-01'), ]
    result_p2 = NWRMSLE_A(test_p2.unit_sales.astype(np.float32),test_p2.pred_sales.astype(np.float32), test_p2.weights)

    print("Eval P2, Number of rows in test is", test_p2.shape[0])
    print("Eval P2, Forecast Period From:", min(test_p2.date)," To: ", max(test_p2.date))

    print("Eval All Weighted NWRMSLE = ",result)
    print("Eval P1  Weighted NWRMSLE = ",result_p1)
    print("Eval P2  Weighted NWRMSLE = ",result_p2)

#--------------------------------------------------------------------------------------------------

logger.info('start')

items = pd.read_csv('../../input/items.csv'  )

dtypes = {'id':'uint32', 'item_nbr':'int32', 'store_nbr':'int8', 'unit_sales':'float32'}
#train_all = pd.read_csv('../input/train.csv', usecols=[1,2,3,4,5], dtype=dtypes, parse_dates=['date'] )
train_all = pd.read_csv('../../input/train_small.csv', usecols=[1,2,3,4,5], dtype=dtypes, parse_dates=['date'] )

train_16_17 = train_all.loc[((train_all.date >= '2016-06-01') & (train_all.date <= '2016-08-31' ))
                         |((train_all.date >= '2017-06-01') & (train_all.date <= '2017-08-31' )) , ]

del train_all

#Load test
train_16_17['mset'] = 1

#Load test
#test_all = pd.read_csv('../input/test.csv', dtype=dtypes, parse_dates=['date'])
test_all = pd.read_csv('../../input/test_small.csv', dtype=dtypes, parse_dates=['date'])
test_all['mset'] = 0

df_train = pd.concat([train_16_17, test_all], ignore_index=True)

#-------------------------------------------------------------------------------------------------

df_train.loc[(df_train.unit_sales<0),'unit_sales'] = 0 # eliminate negatives
df_train.loc[:, 'unit_sales'].fillna(0, inplace=True) # fill NaNs

df_train['DOW'] = df_train['date'].dt.dayofweek
df_train['WOY'] = df_train['date'].dt.weekofyear
df_train['Year'] = df_train['date'].dt.year
df_train['Month'] = df_train['date'].dt.month
df_train['Day'] = df_train['date'].dt.day

print('training data prepared')

#-------------------------------------------------------------------------------------------------

train_m06 = df_train.loc[(df_train.Month == 6) ,]
    
ma_m06 = train_m06[['item_nbr','store_nbr','Year','unit_sales']].groupby(['item_nbr','store_nbr','Year'])['unit_sales'].mean().to_frame('avg_m06')
ma_m06.reset_index(inplace=True)

df_train = pd.merge(df_train, ma_m06, how='left', on=['item_nbr','store_nbr','Year'])

#features = (['DOW', 'WOY', 'Month', 'Day', 'avg_m06'])
#print(features)

#-------------------------------------------------------------------------------------------------

train_m07 = df_train.loc[(df_train.Month == 7) ,]
    
ma_m07 = train_m07[['item_nbr','store_nbr','Year','unit_sales']].groupby(['item_nbr','store_nbr','Year'])['unit_sales'].mean().to_frame('avg_m07')
ma_m07.reset_index(inplace=True)
df_train = pd.merge(df_train, ma_m07, how='left', on=['item_nbr','store_nbr','Year'])

features = (['DOW', 'WOY', 'Month', 'Day', 'avg_m06', 'avg_m07'])

#--------------------------------------------------------------------------------------------------
train = df_train.loc[(df_train.date >= '2016-08-01') & (df_train.date <= '2016-08-31' ), ]
#test = df_train.loc[(df_train.date > '2017-07-25') & (df_train.date <= '2017-08-10' ), ]
test = df_train.loc[df_train['mset'] == 0,]

print('training data processed')

2017-12-12 22:07:51,444 __main__ 29 [INFO][<module>] start
2017-12-12 22:07:51,444 __main__ 29 [INFO][<module>] start
2017-12-12 22:07:51,451 __main__ 84 [INFO][<module>] start
2017-12-12 22:07:51,451 __main__ 84 [INFO][<module>] start

training data prepared
training data processed

In [18]:
df_train

,date,id,item_nbr,mset,onpromotion,store_nbr,unit_sales,DOW,WOY,Year,Month,Day,avg_m06,avg_m07
0,2016-06-01,NaN,103501,1,False,9,6.0,2,22,2016,6,1,4.724138,5.451613
1,2016-06-01,NaN,103501,1,False,10,1.0,2,22,2016,6,1,2.269231,2.740741
2,2016-06-01,NaN,103501,1,False,11,6.0,2,22,2016,6,1,3.517241,4.357143
3,2016-06-01,NaN,103501,1,False,13,1.0,2,22,2016,6,1,2.083333,2.892857
4,2016-06-01,NaN,103501,1,False,14,6.0,2,22,2016,6,1,3.620690,3.040000
5,2016-06-01,NaN,103501,1,False,15,5.0,2,22,2016,6,1,3.307692,3.774194
6,2016-06-01,NaN,103501,1,False,16,3.0,2,22,2016,6,1,4.500000,4.066667
7,2016-06-01,NaN,103501,1,False,17,7.0,2,22,2016,6,1,4.933333,5.064516
8,2016-06-01,NaN,103501,1,False,18,4.0,2,22,2016,6,1,2.800000,2.615385
9,2016-06-01,NaN,103501,1,False,19,6.0,2,22,2016,6,1,3.400000,4.419355
10,2016-06-01,NaN,103501,1,False,20,3.0,2,22,2016,6,1,3.000000,3.346154
11,2016-06-01,NaN,103501,1,False,21,6.0,2,22,2016,6,1,6.862069,4.566667
12,2016-06-01,NaN,103501,1,False,22,2.0,2,22,2016,6,1,2.814815,3.571429
13,2016-06-01,NaN,103501,1,False,28,6.0,2,22,2016,6,1,6.034483,6.580645
14,2016-06-01,NaN,103501,1,False,29,8.0,2,22,2016,6,1,7.357143,7.935484
15,2016-06-01,NaN,103501,1,False,30,3.0,2,22,2016,6,1,3.148148,3.200000
16,2016-06-01,NaN,103501,1,False,31,8.0,2,22,2016,6,1,4.689655,5.172414
17,2016-06-01,NaN,103501,1,False,32,1.0,2,22,2016,6,1,1.913043,2.380952
18,2016-06-01,NaN,103501,1,False,33,10.0,2,22,2016,6,1,4.730769,4.366667
19,2016-06-01,NaN,103501,1,False,34,3.0,2,22,2016,6,1,2.720000,3.214286
20,2016-06-01,NaN,103501,1,False,35,1.0,2,22,2016,6,1,1.954545,1.785714
21,2016-06-01,NaN,103501,1,False,36,6.0,2,22,2016,6,1,3.392857,4.580645
22,2016-06-01,NaN,103501,1,False,39,3.0,2,22,2016,6,1,4.962963,5.766667
23,2016-06-01,NaN,103501,1,False,40,9.0,2,22,2016,6,1,10.866667,12.645162
24,2016-06-01,NaN,103501,1,False,43,10.0,2,22,2016,6,1,5.200000,5.612903
25,2016-06-01,NaN,103501,1,False,54,3.0,2,22,2016,6,1,4.269231,4.517241
26,2016-06-02,NaN,103501,1,False,9,6.0,3,22,2016,6,2,4.724138,5.451613
27,2016-06-02,NaN,103501,1,False,10,5.0,3,22,2016,6,2,2.269231,2.740741
28,2016-06-02,NaN,103501,1,False,11,7.0,3,22,2016,6,2,3.517241,4.357143
29,2016-06-02,NaN,103501,1,False,12,2.0,3,22,2016,6,2,3.192308,3.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,2017-08-31,128750476.0,103501,0,False,25,0.0,3,35,2017,8,31,NaN,NaN
4994,2017-08-31,128754377.0,103501,0,False,26,0.0,3,35,2017,8,31,NaN,NaN
4995,2017-08-31,128758278.0,103501,0,False,27,0.0,3,35,2017,8,31,NaN,NaN
4996,2017-08-31,128762179.0,103501,0,False,28,0.0,3,35,2017,8,31,9.433333,9.612904
4997,2017-08-31,128766080.0,103501,0,False,29,0.0,3,35,2017,8,31,7.666667,6.935484
4998,2017-08-31,128769981.0,103501,0,False,30,0.0,3,35,2017,8,31,3.653846,3.310345
4999,2017-08-31,128773882.0,103501,0,False,31,0.0,3,35,2017,8,31,4.633333,5.580645
5000,2017-08-31,128777783.0,103501,0,False,32,0.0,3,35,2017,8,31,1.750000,1.840000
5001,2017-08-31,128781684.0,103501,0,True,33,0.0,3,35,2017,8,31,4.466667,4.032258
5002,2017-08-31,128785585.0,103501,0,False,34,0.0,3,35,2017,8,31,4.133333,3.592592
5003,2017-08-31,128789486.0,103501,0,False,35,0.0,3,35,2017,8,31,1.840000,2.517241
5004,2017-08-31,128793387.0,103501,0,False,36,0.0,3,35,2017,8,31,5.000000,4.451613
5005,2017-08-31,128797288.0,103501,0,False,37,0.0,3,35,2017,8,31,NaN,NaN
5006,2017-08-31,128801189.0,103501,0,False,38,0.0,3,35,2017,8,31,NaN,NaN
5007,2017-08-31,128805090.0,103501,0,False,39,0.0,3,35,2017,8,31,5.733333,6.096774
5008,2017-08-31,128808991.0,103501,0,False,40,0.0,3,35,2017,8,31,8.034483,7.206897
5009,2017-08-31,128812892.0,103501,0,False,41,0.0,3,35,2017,8,31,NaN,NaN
5010,2017-08-31,128816793.0,103501,0,False,42,0.0,3,35,2017,8,31,NaN,NaN
5011,2017-08-31,128820694.0,103501,0,False,43,0.0,3,35,2017,8,31,5.692307,5.064516
5012,2017-08-31,128824595.0,103501,0,False,44,0.0,3,35,2017,8,31,NaN,NaN
5013,2017-08-31,128828496.0,103501,0,False,45,0.0,3,35,2017,8,31,NaN,NaN
5014,2017-08-31,128832397.0,103501,0,False,46,0.0,3,35,2017,8,31,NaN,NaN
5015,2017-08-31,128836298.0,103501,0,False,47,0.0,3,35,2017,8,31,NaN,NaN
5016,2017-08-31,128840199.0,103501,0,False,48,0.0,3,35,2017,8,31,NaN,NaN
5017,2017-08-31,128844100.0,103501,0,False,49,0.0,3,35,2017,8,31,NaN,NaN
5018,2017-08-31,128848001.0,103501,0,False,50,0.0,3,35,2017,8,31,NaN,NaN
5019,2017-08-31,128851902.0,103501,0,False,51,0.0,3,35,2017,8,31,NaN,NaN
5020,2017-08-31,128855803.0,103501,0,False,52,0.0,3,35,2017,8,31,NaN,NaN
5021,2017-08-31,128859704.0,103501,0,False,53,0.0,3,35,2017,8,31,NaN,NaN
5022,2017-08-31,128863605.0,103501,0,False,54,0.0,3,35,2017,8,31,3.800000,4.322581

In [19]:
test

,date,id,item_nbr,mset,onpromotion,store_nbr,unit_sales,DOW,WOY,Year,Month,Day,avg_m06,avg_m07
4159,2017-08-16,125497042.0,103501,0,False,1,0.0,2,33,2017,8,16,NaN,NaN
4160,2017-08-16,125500943.0,103501,0,False,2,0.0,2,33,2017,8,16,NaN,NaN
4161,2017-08-16,125504844.0,103501,0,False,3,0.0,2,33,2017,8,16,NaN,NaN
4162,2017-08-16,125508745.0,103501,0,False,4,0.0,2,33,2017,8,16,NaN,NaN
4163,2017-08-16,125512646.0,103501,0,False,5,0.0,2,33,2017,8,16,NaN,NaN
4164,2017-08-16,125516547.0,103501,0,False,6,0.0,2,33,2017,8,16,NaN,NaN
4165,2017-08-16,125520448.0,103501,0,False,7,0.0,2,33,2017,8,16,NaN,NaN
4166,2017-08-16,125524349.0,103501,0,False,8,0.0,2,33,2017,8,16,NaN,NaN
4167,2017-08-16,125528250.0,103501,0,False,9,0.0,2,33,2017,8,16,5.466667,5.645161
4168,2017-08-16,125532151.0,103501,0,False,10,0.0,2,33,2017,8,16,2.750000,2.571429
4169,2017-08-16,125536052.0,103501,0,False,11,0.0,2,33,2017,8,16,3.866667,3.370370
4170,2017-08-16,125539953.0,103501,0,False,12,0.0,2,33,2017,8,16,1.880000,1.916667
4171,2017-08-16,125543854.0,103501,0,False,13,0.0,2,33,2017,8,16,2.208333,2.045455
4172,2017-08-16,125547755.0,103501,0,False,14,0.0,2,33,2017,8,16,3.275862,3.379310
4173,2017-08-16,125551656.0,103501,0,False,15,0.0,2,33,2017,8,16,5.269231,3.645161
4174,2017-08-16,125555557.0,103501,0,False,16,0.0,2,33,2017,8,16,2.458333,2.200000
4175,2017-08-16,125559458.0,103501,0,False,17,0.0,2,33,2017,8,16,4.241379,4.275862
4176,2017-08-16,125563359.0,103501,0,False,18,0.0,2,33,2017,8,16,3.620690,3.642857
4177,2017-08-16,125567260.0,103501,0,False,19,0.0,2,33,2017,8,16,3.111111,3.600000
4178,2017-08-16,125571161.0,103501,0,False,20,0.0,2,33,2017,8,16,5.857143,6.000000
4179,2017-08-16,125575062.0,103501,0,False,21,0.0,2,33,2017,8,16,5.586207,6.290323
4180,2017-08-16,125578963.0,103501,0,False,22,0.0,2,33,2017,8,16,3.535714,2.862069
4181,2017-08-16,125582864.0,103501,0,False,23,0.0,2,33,2017,8,16,NaN,NaN
4182,2017-08-16,125586765.0,103501,0,False,24,0.0,2,33,2017,8,16,NaN,NaN
4183,2017-08-16,125590666.0,103501,0,False,25,0.0,2,33,2017,8,16,NaN,NaN
4184,2017-08-16,125594567.0,103501,0,False,26,0.0,2,33,2017,8,16,NaN,NaN
4185,2017-08-16,125598468.0,103501,0,False,27,0.0,2,33,2017,8,16,NaN,NaN
4186,2017-08-16,125602369.0,103501,0,False,28,0.0,2,33,2017,8,16,9.433333,9.612904
4187,2017-08-16,125606270.0,103501,0,False,29,0.0,2,33,2017,8,16,7.666667,6.935484
4188,2017-08-16,125610171.0,103501,0,False,30,0.0,2,33,2017,8,16,3.653846,3.310345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,2017-08-31,128750476.0,103501,0,False,25,0.0,3,35,2017,8,31,NaN,NaN
4994,2017-08-31,128754377.0,103501,0,False,26,0.0,3,35,2017,8,31,NaN,NaN
4995,2017-08-31,128758278.0,103501,0,False,27,0.0,3,35,2017,8,31,NaN,NaN
4996,2017-08-31,128762179.0,103501,0,False,28,0.0,3,35,2017,8,31,9.433333,9.612904
4997,2017-08-31,128766080.0,103501,0,False,29,0.0,3,35,2017,8,31,7.666667,6.935484
4998,2017-08-31,128769981.0,103501,0,False,30,0.0,3,35,2017,8,31,3.653846,3.310345
4999,2017-08-31,128773882.0,103501,0,False,31,0.0,3,35,2017,8,31,4.633333,5.580645
5000,2017-08-31,128777783.0,103501,0,False,32,0.0,3,35,2017,8,31,1.750000,1.840000
5001,2017-08-31,128781684.0,103501,0,True,33,0.0,3,35,2017,8,31,4.466667,4.032258
5002,2017-08-31,128785585.0,103501,0,False,34,0.0,3,35,2017,8,31,4.133333,3.592592
5003,2017-08-31,128789486.0,103501,0,False,35,0.0,3,35,2017,8,31,1.840000,2.517241
5004,2017-08-31,128793387.0,103501,0,False,36,0.0,3,35,2017,8,31,5.000000,4.451613
5005,2017-08-31,128797288.0,103501,0,False,37,0.0,3,35,2017,8,31,NaN,NaN
5006,2017-08-31,128801189.0,103501,0,False,38,0.0,3,35,2017,8,31,NaN,NaN
5007,2017-08-31,128805090.0,103501,0,False,39,0.0,3,35,2017,8,31,5.733333,6.096774
5008,2017-08-31,128808991.0,103501,0,False,40,0.0,3,35,2017,8,31,8.034483,7.206897
5009,2017-08-31,128812892.0,103501,0,False,41,0.0,3,35,2017,8,31,NaN,NaN
5010,2017-08-31,128816793.0,103501,0,False,42,0.0,3,35,2017,8,31,NaN,NaN
5011,2017-08-31,128820694.0,103501,0,False,43,0.0,3,35,2017,8,31,5.692307,5.064516
5012,2017-08-31,128824595.0,103501,0,False,44,0.0,3,35,2017,8,31,NaN,NaN
5013,2017-08-31,128828496.0,103501,0,False,45,0.0,3,35,2017,8,31,NaN,NaN
5014,2017-08-31,128832397.0,103501,0,False,46,0.0,3,35,2017,8,31,NaN,NaN
5015,2017-08-31,128836298.0,103501,0,False,47,0.0,3,35,2017,8,31,NaN,NaN
5016,2017-08-31,128840199.0,103501,0,False,48,0.0,3,35,2017,8,31,NaN,NaN
5017,2017-08-31,128844100.0,103501,0,False,49,0.0,3,35,2017,8,31,NaN,NaN
5018,2017-08-31,128848001.0,103501,0,False,50,0.0,3,35,2017,8,31,NaN,NaN
5019,2017-08-31,128851902.0,103501,0,False,51,0.0,3,35,2017,8,31,NaN,NaN
5020,2017-08-31,128855803.0,103501,0,False,52,0.0,3,35,2017,8,31,NaN,NaN
5021,2017-08-31,128859704.0,103501,0,False,53,0.0,3,35,2017,8,31,NaN,NaN
5022,2017-08-31,128863605.0,103501,0,False,54,0.0,3,35,2017,8,31,3.800000,4.322581

In [20]:

params = {"objective": "reg:linear",
          "booster" : "gbtree",
          "eta": 0.3,
          "max_depth": 10,
          "subsample": 0.9,
          "colsample_bytree": 0.7,
          "silent": 1,
          "seed": 1301
          }
num_boost_round = 300

print("Train a XGBoost model")
X_train, X_valid = train_test_split(train, test_size=0.5, random_state=10)
y_train = np.log1p(X_train.unit_sales)
y_valid = np.log1p(X_valid.unit_sales)
dtrain = xgb.DMatrix(X_train[features], y_train)
dvalid = xgb.DMatrix(X_valid[features], y_valid)

watchlist = [(dtrain, 'train'), (dvalid, 'eval')]
model_xgb = xgb.train(params, dtrain, num_boost_round, evals=watchlist, \
  early_stopping_rounds=20, verbose_eval=True)


create_feature_map(features)
importance = model_xgb.get_fscore(fmap='xgb.fmap')
print(importance)

Train a XGBoost model
[0]	train-rmse:0.892159	eval-rmse:0.877252
Multiple eval metrics have been passed: 'eval-rmse' will be used for early stopping.

Will train until eval-rmse hasn't improved in 20 rounds.
[1]	train-rmse:0.688105	eval-rmse:0.693599
[2]	train-rmse:0.550685	eval-rmse:0.594721
[3]	train-rmse:0.452054	eval-rmse:0.539614
[4]	train-rmse:0.381113	eval-rmse:0.498497
[5]	train-rmse:0.34845	eval-rmse:0.472817
[6]	train-rmse:0.305938	eval-rmse:0.467332
[7]	train-rmse:0.272888	eval-rmse:0.461479
[8]	train-rmse:0.236785	eval-rmse:0.467187
[9]	train-rmse:0.207402	eval-rmse:0.469224
[10]	train-rmse:0.185984	eval-rmse:0.476761
[11]	train-rmse:0.170477	eval-rmse:0.47833
[12]	train-rmse:0.157788	eval-rmse:0.485381
[13]	train-rmse:0.147169	eval-rmse:0.489382
[14]	train-rmse:0.133598	eval-rmse:0.493025
[15]	train-rmse:0.121473	eval-rmse:0.495781
[16]	train-rmse:0.110743	eval-rmse:0.500483
[17]	train-rmse:0.098547	eval-rmse:0.503705
[18]	train-rmse:0.090438	eval-rmse:0.506459
[19]	train-rmse:0.080335	eval-rmse:0.508198
[20]	train-rmse:0.070216	eval-rmse:0.510522
[21]	train-rmse:0.064128	eval-rmse:0.511758
[22]	train-rmse:0.059621	eval-rmse:0.514059
[23]	train-rmse:0.055369	eval-rmse:0.515674
[24]	train-rmse:0.050608	eval-rmse:0.516841
[25]	train-rmse:0.046878	eval-rmse:0.518093
[26]	train-rmse:0.044012	eval-rmse:0.518394
[27]	train-rmse:0.041001	eval-rmse:0.519591
Stopping. Best iteration:
[7]	train-rmse:0.272888	eval-rmse:0.461479

{'avg_m07': 779, 'avg_m06': 915, 'Day': 1168, 'DOW': 456, 'WOY': 455}

In [24]:
test.loc[:, 'avg_m06'].fillna(0, inplace=True) # fill NaNs
test.loc[:, 'avg_m07'].fillna(0, inplace=True) # fill NaNs

#-------------------------------------------------------------------------------------
#Load test
#test = valid

test['unit_sales'] = np.exp(model_xgb.predict(xgb.DMatrix(test[features])))

test.loc[ (test['avg_m07'] == 0) | (test['avg_m06'] == 0) , 'unit_sales'] = 0


#test[['id']] = test[['id']].astype(np.int32)
#test[['id','unit_sales']].to_csv('xgb_v01.csv.gz', index=False, float_format='%.3f', compression='gzip')

#---------------------- test_e to evaluate the result --------------------------------
#weights = np.ones(test.shape[0])
#test_e = pd.merge(test, items, on='item_nbr',how='inner')
#eval_test(test_e)

#-------------------------------------------------------------------------------------
logger.info('end')

2017-12-12 22:10:01,202 __main__ 22 [INFO][<module>] end
2017-12-12 22:10:01,202 __main__ 22 [INFO][<module>] end

In [25]:
test

,date,id,item_nbr,mset,onpromotion,store_nbr,unit_sales,DOW,WOY,Year,Month,Day,avg_m06,avg_m07
4159,2017-08-16,125497042.0,103501,0,False,1,0.000000,2,33,2017,8,16,0.000000,0.000000
4160,2017-08-16,125500943.0,103501,0,False,2,0.000000,2,33,2017,8,16,0.000000,0.000000
4161,2017-08-16,125504844.0,103501,0,False,3,0.000000,2,33,2017,8,16,0.000000,0.000000
4162,2017-08-16,125508745.0,103501,0,False,4,0.000000,2,33,2017,8,16,0.000000,0.000000
4163,2017-08-16,125512646.0,103501,0,False,5,0.000000,2,33,2017,8,16,0.000000,0.000000
4164,2017-08-16,125516547.0,103501,0,False,6,0.000000,2,33,2017,8,16,0.000000,0.000000
4165,2017-08-16,125520448.0,103501,0,False,7,0.000000,2,33,2017,8,16,0.000000,0.000000
4166,2017-08-16,125524349.0,103501,0,False,8,0.000000,2,33,2017,8,16,0.000000,0.000000
4167,2017-08-16,125528250.0,103501,0,False,9,7.210409,2,33,2017,8,16,5.466667,5.645161
4168,2017-08-16,125532151.0,103501,0,False,10,2.748190,2,33,2017,8,16,2.750000,2.571429
4169,2017-08-16,125536052.0,103501,0,False,11,2.672834,2,33,2017,8,16,3.866667,3.370370
4170,2017-08-16,125539953.0,103501,0,False,12,2.244530,2,33,2017,8,16,1.880000,1.916667
4171,2017-08-16,125543854.0,103501,0,False,13,2.816833,2,33,2017,8,16,2.208333,2.045455
4172,2017-08-16,125547755.0,103501,0,False,14,4.201134,2,33,2017,8,16,3.275862,3.379310
4173,2017-08-16,125551656.0,103501,0,False,15,4.050911,2,33,2017,8,16,5.269231,3.645161
4174,2017-08-16,125555557.0,103501,0,False,16,2.744074,2,33,2017,8,16,2.458333,2.200000
4175,2017-08-16,125559458.0,103501,0,False,17,4.931932,2,33,2017,8,16,4.241379,4.275862
4176,2017-08-16,125563359.0,103501,0,False,18,2.424847,2,33,2017,8,16,3.620690,3.642857
4177,2017-08-16,125567260.0,103501,0,False,19,2.495809,2,33,2017,8,16,3.111111,3.600000
4178,2017-08-16,125571161.0,103501,0,False,20,7.400770,2,33,2017,8,16,5.857143,6.000000
4179,2017-08-16,125575062.0,103501,0,False,21,7.775023,2,33,2017,8,16,5.586207,6.290323
4180,2017-08-16,125578963.0,103501,0,False,22,2.973245,2,33,2017,8,16,3.535714,2.862069
4181,2017-08-16,125582864.0,103501,0,False,23,0.000000,2,33,2017,8,16,0.000000,0.000000
4182,2017-08-16,125586765.0,103501,0,False,24,0.000000,2,33,2017,8,16,0.000000,0.000000
4183,2017-08-16,125590666.0,103501,0,False,25,0.000000,2,33,2017,8,16,0.000000,0.000000
4184,2017-08-16,125594567.0,103501,0,False,26,0.000000,2,33,2017,8,16,0.000000,0.000000
4185,2017-08-16,125598468.0,103501,0,False,27,0.000000,2,33,2017,8,16,0.000000,0.000000
4186,2017-08-16,125602369.0,103501,0,False,28,10.044929,2,33,2017,8,16,9.433333,9.612904
4187,2017-08-16,125606270.0,103501,0,False,29,4.852528,2,33,2017,8,16,7.666667,6.935484
4188,2017-08-16,125610171.0,103501,0,False,30,2.672834,2,33,2017,8,16,3.653846,3.310345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,2017-08-31,128750476.0,103501,0,False,25,0.000000,3,35,2017,8,31,0.000000,0.000000
4994,2017-08-31,128754377.0,103501,0,False,26,0.000000,3,35,2017,8,31,0.000000,0.000000
4995,2017-08-31,128758278.0,103501,0,False,27,0.000000,3,35,2017,8,31,0.000000,0.000000
4996,2017-08-31,128762179.0,103501,0,False,28,5.069737,3,35,2017,8,31,9.433333,9.612904
4997,2017-08-31,128766080.0,103501,0,False,29,1.987217,3,35,2017,8,31,7.666667,6.935484
4998,2017-08-31,128769981.0,103501,0,False,30,4.223411,3,35,2017,8,31,3.653846,3.310345
4999,2017-08-31,128773882.0,103501,0,False,31,7.875799,3,35,2017,8,31,4.633333,5.580645
5000,2017-08-31,128777783.0,103501,0,False,32,3.318848,3,35,2017,8,31,1.750000,1.840000
5001,2017-08-31,128781684.0,103501,0,True,33,2.489886,3,35,2017,8,31,4.466667,4.032258
5002,2017-08-31,128785585.0,103501,0,False,34,3.484187,3,35,2017,8,31,4.133333,3.592592
5003,2017-08-31,128789486.0,103501,0,False,35,2.260024,3,35,2017,8,31,1.840000,2.517241
5004,2017-08-31,128793387.0,103501,0,False,36,4.082607,3,35,2017,8,31,5.000000,4.451613
5005,2017-08-31,128797288.0,103501,0,False,37,0.000000,3,35,2017,8,31,0.000000,0.000000
5006,2017-08-31,128801189.0,103501,0,False,38,0.000000,3,35,2017,8,31,0.000000,0.000000
5007,2017-08-31,128805090.0,103501,0,False,39,2.637956,3,35,2017,8,31,5.733333,6.096774
5008,2017-08-31,128808991.0,103501,0,False,40,1.987217,3,35,2017,8,31,8.034483,7.206897
5009,2017-08-31,128812892.0,103501,0,False,41,0.000000,3,35,2017,8,31,0.000000,0.000000
5010,2017-08-31,128816793.0,103501,0,False,42,0.000000,3,35,2017,8,31,0.000000,0.000000
5011,2017-08-31,128820694.0,103501,0,False,43,4.349083,3,35,2017,8,31,5.692307,5.064516
5012,2017-08-31,128824595.0,103501,0,False,44,0.000000,3,35,2017,8,31,0.000000,0.000000
5013,2017-08-31,128828496.0,103501,0,False,45,0.000000,3,35,2017,8,31,0.000000,0.000000
5014,2017-08-31,128832397.0,103501,0,False,46,0.000000,3,35,2017,8,31,0.000000,0.000000
5015,2017-08-31,128836298.0,103501,0,False,47,0.000000,3,35,2017,8,31,0.000000,0.000000
5016,2017-08-31,128840199.0,103501,0,False,48,0.000000,3,35,2017,8,31,0.000000,0.000000
5017,2017-08-31,128844100.0,103501,0,False,49,0.000000,3,35,2017,8,31,0.000000,0.000000
5018,2017-08-31,128848001.0,103501,0,False,50,0.000000,3,35,2017,8,31,0.000000,0.000000
5019,2017-08-31,128851902.0,103501,0,False,51,0.000000,3,35,2017,8,31,0.000000,0.000000
5020,2017-08-31,128855803.0,103501,0,False,52,0.000000,3,35,2017,8,31,0.000000,0.000000
5021,2017-08-31,128859704.0,103501,0,False,53,0.000000,3,35,2017,8,31,0.000000,0.000000
5022,2017-08-31,128863605.0,103501,0,False,54,4.748650,3,35,2017,8,31,3.800000,4.322581