In [18]:
import pandas as pd
import numpy as np
from datetime import date, timedelta

from logging import StreamHandler, DEBUG, Formatter, FileHandler, getLogger

##########################################################################

train_out = pd.read_pickle('../data/storeitem_train_1s.p')

In [12]:
train_out.shape

(74844, 128)

In [19]:

ratio_s_i_1 = pd.read_csv('../input/2017_ratio_01.csv')
ratio_s_i_2 = pd.read_csv('../input/2017_ratio_02.csv')

In [7]:
ratio_s_i_1.head(1)

   store_nbr  item_nbr  ratio_ly_tm
0          3    265258     0.895614

In [9]:
ratio_s_i_2.head(1)

   store_nbr  item_nbr  ratio_ty_lm
0          1    265258     1.263278

In [20]:
train_out = pd.merge(train_out, ratio_s_i_1, on = ['store_nbr', 'item_nbr'], how = 'inner')
train_out = pd.merge(train_out, ratio_s_i_2, on = ['store_nbr', 'item_nbr'], how = 'inner')

In [21]:
train_out.shape

(56931, 130)