In [8]:
from datetime import date, timedelta

import pandas as pd
import numpy as np

import math
        
    
items = pd.read_csv('../input/items.csv',)
items['cat'] = 1
items = items[['item_nbr', 'family', 'cat']]

In [9]:
items.set_index(['item_nbr', 'family']).info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4100 entries, (96995, GROCERY I) to (2134244, LIQUOR,WINE,BEER)
Data columns (total 1 columns):
cat    4100 non-null int64
dtypes: int64(1)
memory usage: 76.5+ KB

In [60]:
items_cat = items.set_index(['item_nbr', 'family'])[['cat']].unstack(level = -1).fillna(False)
items_cat = items_cat.reset_index()

In [61]:
items_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 34 columns):
(item_nbr, )                         4100 non-null int64
(cat, AUTOMOTIVE)                    4100 non-null float64
(cat, BABY CARE)                     4100 non-null float64
(cat, BEAUTY)                        4100 non-null float64
(cat, BEVERAGES)                     4100 non-null float64
(cat, BOOKS)                         4100 non-null float64
(cat, BREAD/BAKERY)                  4100 non-null float64
(cat, CELEBRATION)                   4100 non-null float64
(cat, CLEANING)                      4100 non-null float64
(cat, DAIRY)                         4100 non-null float64
(cat, DELI)                          4100 non-null float64
(cat, EGGS)                          4100 non-null float64
(cat, FROZEN FOODS)                  4100 non-null float64
(cat, GROCERY I)                     4100 non-null float64
(cat, GROCERY II)                    4100 non-null float64
(cat, HARDWARE)                      4100 non-null float64
(cat, HOME AND KITCHEN I)            4100 non-null float64
(cat, HOME AND KITCHEN II)           4100 non-null float64
(cat, HOME APPLIANCES)               4100 non-null float64
(cat, HOME CARE)                     4100 non-null float64
(cat, LADIESWEAR)                    4100 non-null float64
(cat, LAWN AND GARDEN)               4100 non-null float64
(cat, LINGERIE)                      4100 non-null float64
(cat, LIQUOR,WINE,BEER)              4100 non-null float64
(cat, MAGAZINES)                     4100 non-null float64
(cat, MEATS)                         4100 non-null float64
(cat, PERSONAL CARE)                 4100 non-null float64
(cat, PET SUPPLIES)                  4100 non-null float64
(cat, PLAYERS AND ELECTRONICS)       4100 non-null float64
(cat, POULTRY)                       4100 non-null float64
(cat, PREPARED FOODS)                4100 non-null float64
(cat, PRODUCE)                       4100 non-null float64
(cat, SCHOOL AND OFFICE SUPPLIES)    4100 non-null float64
(cat, SEAFOOD)                       4100 non-null float64
dtypes: float64(33), int64(1)
memory usage: 1.1 MB

In [76]:
items_cat.columns =  items_cat.columns.get_level_values(1)

In [78]:
items_cat = items_cat.reset_index()

In [75]:
item_column_name

Index(['', 'AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR,WINE,BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY', 'PREPARED FOODS',
       'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES', 'SEAFOOD'],
      dtype='object', name='family')

In [66]:
item_column_name[1] = 'item_nbr'

TypeError: Index does not support mutable operations

In [51]:
items_cat.columns.values[0] = 'items_nbr'

In [57]:
items_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4100 entries, 0 to 4099
Data columns (total 34 columns):
                              4100 non-null int64
AUTOMOTIVE                    4100 non-null float64
BABY CARE                     4100 non-null float64
BEAUTY                        4100 non-null float64
BEVERAGES                     4100 non-null float64
BOOKS                         4100 non-null float64
BREAD/BAKERY                  4100 non-null float64
CELEBRATION                   4100 non-null float64
CLEANING                      4100 non-null float64
DAIRY                         4100 non-null float64
DELI                          4100 non-null float64
EGGS                          4100 non-null float64
FROZEN FOODS                  4100 non-null float64
GROCERY I                     4100 non-null float64
GROCERY II                    4100 non-null float64
HARDWARE                      4100 non-null float64
HOME AND KITCHEN I            4100 non-null float64
HOME AND KITCHEN II           4100 non-null float64
HOME APPLIANCES               4100 non-null float64
HOME CARE                     4100 non-null float64
LADIESWEAR                    4100 non-null float64
LAWN AND GARDEN               4100 non-null float64
LINGERIE                      4100 non-null float64
LIQUOR,WINE,BEER              4100 non-null float64
MAGAZINES                     4100 non-null float64
MEATS                         4100 non-null float64
PERSONAL CARE                 4100 non-null float64
PET SUPPLIES                  4100 non-null float64
PLAYERS AND ELECTRONICS       4100 non-null float64
POULTRY                       4100 non-null float64
PREPARED FOODS                4100 non-null float64
PRODUCE                       4100 non-null float64
SCHOOL AND OFFICE SUPPLIES    4100 non-null float64
SEAFOOD                       4100 non-null float64
dtypes: float64(33), int64(1)
memory usage: 1.1 MB

In [43]:
del items_cat['family']

KeyError: 'family'

In [ ]:
self.right = self.right.drop(right_drop, axis=1)

In [18]:
items_cat.index

RangeIndex(start=0, stop=4100, step=1)

In [13]:
train_out = pd.read_pickle('../data/storeitem_train_1s.p')

In [14]:
train_out.shape

(74844, 128)

In [16]:
train_out = pd.merge(train_out, items_cat, on = 'item_nbr', how = 'inner')

/home/zyp/anaconda3/lib/python3.6/site-packages/pandas/core/reshape/merge.py:551: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)
/home/zyp/anaconda3/lib/python3.6/site-packages/pandas/core/reshape/merge.py:862: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  self.right = self.right.drop(right_drop, axis=1)

In [89]:

X_train_out = train_out[x_columns]
X_val_out = val_out[x_columns]


X_train_allF = X_train_out[features_all]
X_val_allF = X_val_out[features_all]
X_test_allF = X_test_out[features_all]

In [90]:
X_train_allF[features_t].head(1)

,date,day_1,mean_14,mean_140,mean_182,mean_21,mean_3,mean_30,mean_364,mean_42,...,promo_6,promo_7,promo_8,promo_9,promo_10,promo_11,promo_12,promo_13,promo_14,promo_15
0,2014-08-06,0.0,0.346574,0.047456,0.036504,0.316371,0.231049,0.22146,0.179006,0.158185,...,0,0,0,0,0,0,0,0,0,0

In [91]:
weather[['date','TEMP']].head(1)

        date       TEMP
0 2014-01-02  61.099998

In [86]:
 features_t = features_all.copy()

In [93]:
weather_temp = weather[['date','TEMP']]

In [100]:
weather_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1089 entries, 0 to 1088
Data columns (total 2 columns):
date    1089 non-null datetime64[ns]
TEMP    1089 non-null float32
dtypes: datetime64[ns](1), float32(1)
memory usage: 12.8 KB

In [103]:
X_train_allF[['date']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74844 entries, 0 to 74843
Data columns (total 1 columns):
date    74844 non-null object
dtypes: object(1)
memory usage: 584.8+ KB

In [104]:
X_train_allF["date"] = pd.to_datetime(X_train_allF['date'],format='%Y-%m-%d')

In [105]:
X_train = pd.merge(X_train_allF[features_t],weather_temp, on=['date'], how='inner')

In [107]:
X_train.head(1)

,date,day_1,mean_14,mean_140,mean_182,mean_21,mean_3,mean_30,mean_364,mean_42,...,promo_7,promo_8,promo_9,promo_10,promo_11,promo_12,promo_13,promo_14,promo_15,TEMP
0,2014-08-20,0.0,0.0,0.047456,0.036504,0.132028,0.0,0.184839,0.158849,0.158185,...,0,0,0,0,0,0,0,0,0,56.400002

In [71]:

def get_timespan(df, dt, minus, periods, freq='D'):
    return df[pd.date_range
              (dt - timedelta(days=minus), periods=periods, freq=freq)]


def prepare_dataset(t2017, is_train=True):

    for i in range(16):
        X["temp_{}".format(i)] = weather_temp[
            t2017 + timedelta(days=i)].values.astype(np.uint8)

    return X

In [72]:
df_2017 = df_train_store.set_index(
    ["store_nbr", "date"])[["store_avg_sales"]].unstack(
        level=-1).fillna(0)
df_2017.columns = df_2017.columns.get_level_values(1)

NameError: name 'df_train_store' is not defined

In [73]:
weather_temp = weather.set_index(
    ["ID","date"])[["TEMP"]].unstack(level=-1).fillna(0)
weather_temp.shape

(1, 1089)

In [74]:
weather_temp.head(5)

           TEMP                                                         \
date 2014-01-02 2014-01-05 2014-01-09 2014-01-10 2014-01-11 2014-01-17
ID
1     61.099998  58.099998       61.5  60.400002  62.700001  60.599998

                                                    ...                 \
date 2014-01-19 2014-01-20 2014-01-22 2014-01-27    ...     2017-12-21
ID                                                  ...
1     60.099998       60.0       65.0  63.799999    ...           63.0

                                                                        \
date 2017-12-22 2017-12-23 2017-12-24 2017-12-25 2017-12-26 2017-12-27
ID
1     63.400002  66.400002  67.199997  65.900002  61.700001  59.700001


date 2017-12-28 2017-12-29 2017-12-30
ID
1          59.5  60.400002       64.5

[1 rows x 1089 columns]

In [63]:
weather.set_index(["date"])[["TEMP"]].info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1089 entries, 2014-01-02 to 2017-12-30
Data columns (total 1 columns):
TEMP    1089 non-null float32
dtypes: float32(1)
memory usage: 12.8 KB

In [59]:
weather.unstack()

YEARMODA  0                  20140102
          1                  20140105
          2                  20140109
          3                  20140110
          4                  20140111
          5                  20140117
          6                  20140119
          7                  20140120
          8                  20140122
          9                  20140127
          10                 20140201
          11                 20140206
          12                 20140208
          13                 20140226
          14                 20140228
          15                 20140302
          16                 20140303
          17                 20140601
          18                 20140603
          19                 20140606
          20                 20140611
          21                 20140628
          22                 20140701
          23                 20140711
          24                 20140721
          25                 20140726
          26                 20140805
          27                 20140807
          28                 20140812
          29                 20140815
                         ...
date      1059    2017-12-01 00:00:00
          1060    2017-12-02 00:00:00
          1061    2017-12-03 00:00:00
          1062    2017-12-04 00:00:00
          1063    2017-12-05 00:00:00
          1064    2017-12-06 00:00:00
          1065    2017-12-07 00:00:00
          1066    2017-12-08 00:00:00
          1067    2017-12-09 00:00:00
          1068    2017-12-10 00:00:00
          1069    2017-12-11 00:00:00
          1070    2017-12-12 00:00:00
          1071    2017-12-13 00:00:00
          1072    2017-12-14 00:00:00
          1073    2017-12-15 00:00:00
          1074    2017-12-16 00:00:00
          1075    2017-12-17 00:00:00
          1076    2017-12-18 00:00:00
          1077    2017-12-19 00:00:00
          1078    2017-12-20 00:00:00
          1079    2017-12-21 00:00:00
          1080    2017-12-22 00:00:00
          1081    2017-12-23 00:00:00
          1082    2017-12-24 00:00:00
          1083    2017-12-25 00:00:00
          1084    2017-12-26 00:00:00
          1085    2017-12-27 00:00:00
          1086    2017-12-28 00:00:00
          1087    2017-12-29 00:00:00
          1088    2017-12-30 00:00:00
Length: 5445, dtype: object

In [48]:
weather_temp.head()

      date
TEMP  2014-01-02    61.099998
      2014-01-05    58.099998
      2014-01-09    61.500000
      2014-01-10    60.400002
      2014-01-11    62.700001
dtype: float32

In [18]:
item_train_out = pd.merge(item_train_out, items[["item_nbr", "perishable"]], on = ['item_nbr'])

In [19]:
item_train_out.shape

(74844, 62)