In [8]:

"""
This is an upgraded version of Ceshine's LGBM starter script, simply adding
more average features and weekly average features on it.
"""
from datetime import date, timedelta

import pandas as pd
import numpy as np
import lightgbm as lgb
import sys
import math
import gc
import sklearn.metrics as skl_metrics

from load_data import load_input_data, add_missing_days

from logging import StreamHandler, DEBUG, Formatter, FileHandler, getLogger

logger = getLogger(__name__)

pd.options.mode.chained_assignment = None  # default='warn'

DIR = '../logs/'

log_fmt = Formatter('%(asctime)s %(name)s %(lineno)d [%(levelname)s]\
    [%(funcName)s] %(message)s ')
handler = StreamHandler()
handler.setLevel('INFO')
handler.setFormatter(log_fmt)
logger.addHandler(handler)

handler = FileHandler(DIR + 'train.py.log', 'a')
handler.setLevel(DEBUG)
handler.setFormatter(log_fmt)
logger.setLevel(DEBUG)
logger.addHandler(handler)

logger.info('start')
logger.info('start')



param_1 = "1s"


train_out, test_out = load_input_data(param_1)
test_out = test_out.reset_index()

####################################################################################
###############################
# Load store-items that has promo more than 75% of the sales week. 

reset_promo = pd.read_csv("../input/Reset_Flag_ContinuePromo.csv",)
reset_promo['new_onpromotion'] = False

2018-01-13 11:13:33,456 __main__ 38 [INFO]    [<module>] start
2018-01-13 11:13:33,456 __main__ 38 [INFO]    [<module>] start
2018-01-13 11:13:33,459 __main__ 39 [INFO]    [<module>] start
2018-01-13 11:13:33,459 __main__ 39 [INFO]    [<module>] start

In [17]:
reset_promo.loc[reset_promo['store_nbr']== 1, ].count()

item_nbr           53
store_nbr          53
new_onpromotion    53
dtype: int64

In [10]:
print( test_out.groupby('onpromotion').size())

onpromotion
False    72435
True      4352
dtype: int64

In [18]:

###############################
## !!!! Stupid way to set onpromotion to False 

test_out_new = pd.merge(test_out, reset_promo, on=('store_nbr', 'item_nbr'), how='left')
test_out_new['onpromotion'] = test_out_new.new_onpromotion.combine_first(test_out_new.onpromotion)

In [20]:
t = pd.merge(test_out, reset_promo, on=('store_nbr', 'item_nbr'), how='inner')

In [25]:
t.onpromotion.astype(int).sum()

95

In [14]:
test_out_new.head(10)

   store_nbr  item_nbr       date         id onpromotion new_onpromotion
0          1    510052 2017-08-16  125497618       False             NaN
1          1    510054 2017-08-16  125497619       False             NaN
2          1    510055 2017-08-16  125497620       False             NaN
3          1    510057 2017-08-16  125497621       False             NaN
4          1    511172 2017-08-16  125497622       False             NaN
5          1    511394 2017-08-16  125497623       False             NaN
6          1    511397 2017-08-16  125497624       False             NaN
7          1    513379 2017-08-16  125497625       False             NaN
8          1    513853 2017-08-16  125497626       False             NaN
9          1    513855 2017-08-16  125497627       False             NaN

In [19]:

###############################
## !!!! Stupid way to set onpromotion to False 

test_out_new = pd.merge(test_out, reset_promo, on=('store_nbr', 'item_nbr'), how='left')
test_out_new['onpromotion'] = test_out_new.new_onpromotion.combine_first(test_out_new.onpromotion)

del test_out_new['new_onpromotion']

test_out_new= test_out_new.set_index(
        ['store_nbr', 'item_nbr', 'date'])

print( test_out.groupby('onpromotion').size()) 
print( test_out_new.groupby('onpromotion').size()) 

print( test_out.shape) 
print( test_out_new.shape)

onpromotion
False    72435
True      4352
dtype: int64
onpromotion
False    72530
True      4257
dtype: int64
(76787, 5)
(76787, 2)