In [65]:
from datetime import date, timedelta

import pandas as pd
import numpy as np

import math



###############################################################################
# Load Weather Data

dtype_weather={"TEMP":np.float32,
                              "VISIB":np.float32,
                              "PRCP": np.float32
               }

weather = pd.read_csv('../input/Weather_20180107.csv',dtype=dtype_weather,)
weather["date"] = pd.to_datetime(weather['YEARMODA'],format='%Y%m%d')

del weather['YEARMODA']

In [12]:
weather.tail(3)

      YEARMODA       TEMP  VISIB  PRCP       date
1086  20171228  59.500000    6.2  0.24 2017-12-28
1087  20171229  60.400002    6.4  0.20 2017-12-29
1088  20171230  64.500000    6.8  0.00 2017-12-30

In [45]:
weather_m1 = weather.copy()
weather_m1["date"] = weather["date"] - timedelta(days=1)
weather_m1 = weather_m1.rename(columns={'TEMP': 'TEMP_M1', 'VISIB': 'VISIB_M1', 'PRCP': 'PRCP_M1'})

In [46]:
weather_m1.head(1)

     TEMP_M1  VISIB_M1  PRCP_M1       date
0  61.099998       7.8      0.0 2014-01-01

In [66]:
weather_m1 = weather.copy()
weather_m1["date"] = weather["date"] - timedelta(days=1)
weather_m1 = weather_m1.rename(columns={'TEMP': 'TEMP_M1', 'VISIB': 'VISIB_M1', 'PRCP': 'PRCP_M1'})


weather_m2 = weather.copy()
weather_m2["date"] = weather["date"] - timedelta(days=2)
weather_m2 = weather_m2.rename(columns={'TEMP': 'TEMP_M2', 'VISIB': 'VISIB_M2', 'PRCP': 'PRCP_M2'})

weather_m3 = weather.copy()
weather_m3["date"] = weather["date"] - timedelta(days=3)
weather_m3 = weather_m3.rename(columns={'TEMP': 'TEMP_M3', 'VISIB': 'VISIB_M3', 'PRCP': 'PRCP_M3'})

weather_p1 = weather.copy()
weather_p1["date"] = weather["date"] - timedelta(days=1)
weather_p1 = weather_p1.rename(columns={'TEMP': 'TEMP_P1', 'VISIB': 'VISIB_P1', 'PRCP': 'PRCP_P1'})

weather_p2 = weather.copy()
weather_p2["date"] = weather["date"] - timedelta(days=2)
weather_p2 = weather_p2.rename(columns={'TEMP': 'TEMP_P2', 'VISIB': 'VISIB_P2', 'PRCP': 'PRCP_P2'})

weather_p3 = weather.copy()
weather_p3["date"] = weather["date"] - timedelta(days=3)
weather_p3 = weather_p3.rename(columns={'TEMP': 'TEMP_P3', 'VISIB': 'VISIB_P3', 'PRCP': 'PRCP_P3'})

In [22]:
weather_m1.tail(3)

           TEMP  VISIB  PRCP       date
1086  59.500000    6.2  0.24 2017-12-27
1087  60.400002    6.4  0.20 2017-12-28
1088  64.500000    6.8  0.00 2017-12-29

In [67]:
weather = pd.merge(weather, weather_m1, on = 'date', how = 'inner')
weather = pd.merge(weather, weather_m2, on = 'date', how = 'inner')
weather = pd.merge(weather, weather_m3, on = 'date', how = 'inner')
weather = pd.merge(weather, weather_p1, on = 'date', how = 'inner')
weather = pd.merge(weather, weather_p2, on = 'date', how = 'inner')
weather = pd.merge(weather, weather_p3, on = 'date', how = 'inner')

In [68]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 972 entries, 0 to 971
Data columns (total 22 columns):
TEMP        972 non-null float32
VISIB       972 non-null float32
PRCP        972 non-null float32
date        972 non-null datetime64[ns]
TEMP_M1     972 non-null float32
VISIB_M1    972 non-null float32
PRCP_M1     972 non-null float32
TEMP_M2     972 non-null float32
VISIB_M2    972 non-null float32
PRCP_M2     972 non-null float32
TEMP_M3     972 non-null float32
VISIB_M3    972 non-null float32
PRCP_M3     972 non-null float32
TEMP_P1     972 non-null float32
VISIB_P1    972 non-null float32
PRCP_P1     972 non-null float32
TEMP_P2     972 non-null float32
VISIB_P2    972 non-null float32
PRCP_P2     972 non-null float32
TEMP_P3     972 non-null float32
VISIB_P3    972 non-null float32
PRCP_P3     972 non-null float32
dtypes: datetime64[ns](1), float32(21)
memory usage: 94.9 KB